@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #98ceb7; /* Dark background */
  color: #404040; /* Light text color */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff00ff); /* Neon pink */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #00ffff); /* Neon cyan */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #989898; /* Slightly lighter dark background */
  color: #e0e0e0; /* Light text color */
  border: 1px solid #ff00ff; /* Neon pink border */
}

.read-the-docs {
  color: #00ffff; /* Neon cyan */
}
